<h1>Menu</h1>
<ul class="b">
  <li><%= link_to 'Make Payment', new_payment_path %></li>
  <li><%= link_to 'Create Payout', new_payout_path %></li>
  <li><%= link_to 'Transactions', transactions_path %></li>
  <li><%= link_to 'Payouts', payouts_path %></li>
</ul>
